{{ define "main" }}

<div class="terminal-output">
    <div class="terminal-header">
        <span class="terminal-title">~/{{ .File.Path | default .Title }}</span>
    </div>
    <div class="terminal-body">
        {{ .Content }}
    </div>
</div>

<div class="posts-list">
{{ range sort .Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}