{{ if .Site.Params.asciiArt }}
<pre class="ascii-art">
{{ .Site.Params.asciiArt }}
</pre>
{{ else }}
<pre class="ascii-art">

                                                                               █████                                       █████     
                                                                              ░░███                                       ░░███      
  ███████ ████████    ██████  █████████████    ██████     ████████    ██████  ███████   █████ ███ █████  ██████  ████████  ░███ █████
 ███░░███░░███░░███  ███░░███░░███░░███░░███  ███░░███   ░░███░░███  ███░░███░░░███░   ░░███ ░███░░███  ███░░███░░███░░███ ░███░░███ 
░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███████     ░███ ░███ ░███████   ░███     ░███ ░███ ░███ ░███ ░███ ░███ ░░░  ░██████░  
░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███ ░███░░░      ░███ ░███ ░███░░░    ░███ ███ ░░███████████  ░███ ░███ ░███      ░███░░███ 
░░███████ ████ █████░░██████  █████░███ █████░░██████  ██ ████ █████░░██████   ░░█████   ░░████░████   ░░██████  █████     ████ █████
 ░░░░░███░░░░ ░░░░░  ░░░░░░  ░░░░░ ░░░ ░░░░░  ░░░░░░  ░░ ░░░░ ░░░░░  ░░░░░░     ░░░░░     ░░░░ ░░░░     ░░░░░░  ░░░░░     ░░░░ ░░░░░ 
 ███ ░███                                                                                                                            
░░██████                                                                                                                             
 ░░░░░░                                                                                                                              

</pre>
{{ end }}